#bookings {
	width: 100%;
}

#bookings th {
	text-align: center;
	background: #d8d8d8;
	padding: 5px;
	border-right: 4px solid white;
	border-bottom: 2px solid white;
}

#bookings td {
	width: 35px;
	height: 35px;
	text-align: center;
	background: #eee;
	border-bottom: 1px solid white;
}

#bookings td.day-left {
	border-right: 2px solid white;
}

#bookings td.day-right {
	border-right: 4px solid white;
}

#bookings .item-name {
	border-right: 2px solid white;
	width: 100px;
}

#bookings td.booking {
	background: #2ad62a;
	cursor: pointer;
}

#bookings th.empty {
	background: transparent;
}