$date-cell-color: #d8d8d8;
$cell-color: #eee;
$booking-color: #2ad62a;
$selected-tint: #f9efa2;
$weekend-color: mix($cell-color, #DCC2DC, 15);

#bookings {
	user-select: none;

	th {
		text-align: center;
		background: $date-cell-color;
		padding: 5px;
		border-right: 4px solid white;
		border-bottom: 2px solid white;

		&.weekend {
			background-color: $weekend-color;
		}

		&:last-child {
			border-right: 0;
		}

		&.empty {
			border-bottom: 0 !important;
		}

		&.empty-date {
			border-right-width: 2px;
		}
	}

	td {
		width: 35px;
		height: 35px;
		text-align: center;
		background: $cell-color;
		border-bottom: 1px solid white;
		

		&.weekend {
			background-color: $weekend-color;
		}

		&.day-left {
			border-right: 2px solid white;
		}

		&.day-right {
			border-right: 4px solid white;
		}

		&.booking {
			background: $booking-color;
			cursor: pointer;
			text-align: left;
			padding-left: 3px;
			border-right: 2px solid white;
			overflow: hidden;
			white-space: nowrap;

			div {	
				display: block;
				width: 35px;
			}

		}

		&.selected {
			border-left: 0;
			border-right: 0;

			background-color: mix($cell-color, $selected-tint, 50);

			&.booking {
				background-color: mix($booking-color, $selected-tint, 50);
				border-right: 2px solid white;			
			}
		}

		&.select-end {
			border-right: 2px solid white;
		}
	}

	.item-name, th.empty {
		border-right: 2px solid white;
		width: 100px;
	}
}