#info {
	background: #eee;
	padding: 8px;
	max-width: 400px;
	margin-bottom: 10px;

	.group {
		padding: 0 10px 10px 10px;
		border: 1px solid #aaa;
		margin-top: 10px;

		legend {
			width: auto;
			padding: 0 5px;
			margin:0 ;
			font-size: 12pt;
			background: #ddd;
			border: 1px solid #aaa;
		}
	}

	.form-group {
		margin-bottom: 3px;

		label {
			width: 100%
		}

		input#info-nights, label[for=info-nights] {
			text-align: center;
		}

		input {
			&.error {
				border-color: #e2a3a3;
			}
		}
	}

	button {
		margin-top: 5px;
	}
}