#info {
	background: #eee;
	padding: 8px;
	max-width: 400px;
	margin-bottom: 10px;

	.form-group {
		margin-bottom: 3px;

		label {
			width: 100%
		}

		input#info-nights, label[for=info-nights] {
			text-align: center;
		}

		input {
			&.error {
				border-color: red;
			}
		}
	}

	button {
		margin-top: 5px;
	}
}