#minimap {
	clear: both;
	display: inline-block;
	user-select: none;

	canvas {
		float: left;
		clear: both;
		margin-bottom: 10px;
		width: 100%;
		image-rendering: pixelated;
		cursor: pointer;
	}

	table {
		width: 100%;
		font-size: 10pt;

		.left {
			text-align: left;
		}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}
	}
}