#minimap {
	clear: both;
	display: inline-block;

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.left, .right {
		font-size: 10pt;
	}

	canvas {
		float: left;
		clear: both;
		margin-bottom: 10px;
		width: 100%;
		image-rendering: pixelated;
	}
}