
#booking-options {
	width: 100%;
	background: white;

	h5 {
		margin-top: 20px;
	}

	.delete {
		color: red;
	}

	.time {
		width: 200px;
	}

	.field {
		width: 120px;
		text-align: right;
	}

	.old {
		width: 120px;
		text-align: right;
	}

	.arrow {
		width: 20px;
	}
}