
#management {
	button {
		margin-bottom: 10px;
	}

	.items {		
		.none {
			font-style: italic;
		}
	}

	.order{
		width: 60px;
		text-align: center;
	}

	.up, .down {
		width: 50px;
		text-align: center;

		button {
			padding: 0 4px;
			margin: 0;
		}
	}

	td .icon {
		margin-right: 15px;
	}
}