
#overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	padding-top: 15px;

	> div {
		width: 100%;
		background: white;
		border: 1px solid #ccc;
		padding: 10px;
	}
}